{% block header %}
    <meta charset="utf-8">
    <title>FirescapeSF</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('index')}}">FirescapeSF</a>
   </nav>

  <div class="jumbotron jumbotron-fluid" style="background:transparent !important">
  <h1 class="display-4">Mapping {{firetype}} fire risk for {{year}} </h1>
  <p class="lead">Enter an address to learn more about fire risk in your local area</p>

  {% if year == '2018' %}
    <p> The map shows predicted hazard scores for {{year}} in addition to the locations of fires that actually happened </p> 
  {% endif %}

  {% if address_flag == 1 %}
    {% if high_risk == 1 %}
    <p> You entered <b>{{address}}</b>, which has a fire risk score of <b>{{riskscore}}</b>. This is a high risk area! </p> 
    {% elif high_risk == 0 %}
    <p> You entered {{address}}, which has a fire risk score of </b>{{riskscore}}</b> </p> 
    {% endif %}
  {% endif %}

  <p> The 'risk score' is an assessment of fire probabilty. Blocks designated 'high risk' are those that the model predicts will experience fire within the given year. They are colored red. </p>

  <hr class="my-4">

  <a type="button" href="{{url_for('displayamap',yearval=year, firetype='structure')}}" class="btn btn-outline-dark">Structural fires</a>
  <a type="button" href="{{url_for('displayamap',yearval=year, firetype='vehicle')}}" class="btn btn-outline-dark">Vehicle fires</a>
  <a type="button" href="{{url_for('displayamap',yearval=year, firetype='external')}}" class="btn btn-outline-dark">External fires</a>

  <hr class="my-4">

  <form action="{{url_for('displaymapwithaddress',yearval=year, firetype=firetype)}}">
    <div class="form-row">
      <div class="col">
        <input type="text" name="myaddress" placeholder="Enter address" class="form-control">
        <input type="submit" value="Risk at my address">
      </div>
    </div>
  </form>

  {% include '%s' % mapname %}

{% endblock %}

